<footer class="footer">
  <div class="footer-content">
    <p>© 2026 <span>Jaisuthan Santharam</span></p>

    <div class="socials">
      <a
        href="https://www.linkedin.com/in/jaisuthan-v-s-a81257237"
        target="_blank"
        aria-label="LinkedIn"
      >
        <i class="fab fa-linkedin-in"></i>
      </a>

      <a
        href="https://www.youtube.com/@jaitech4891"
        target="_blank"
        aria-label="YouTube"
      >
        <i class="fab fa-youtube"></i>
      </a>

      <a href="mailto:jaisuthan480@gmail.com" aria-label="Email">
        <i class="fas fa-envelope"></i>
      </a>
    </div>
  </div>
</footer>
