<section class="hero">
  <div class="hero-content">
    <h1>
      Hi, I’m <span class="highlight">Jaisuthan Santharam</span>
    </h1>

    <h2 class="typing">
      Software Developer
    </h2>

    <p>
      Full Stack Developer with 3+ years of experience in
      <strong>Angular</strong>, <strong>ASP.NET Core</strong>, and <strong>SQL Server</strong>
    </p>

    <div class="actions">
      <button class="btn primary" (click)="goToProjects()">View Projects</button>
      <button class="btn outline" (click)="goToContact()">Contact Me</button>
    </div>
  </div>
</section>
