:root {
  --bg-dark: #0f172a;
  --card-dark: #111827;
  --text-main: #e5e7eb;
  --accent: #38bdf8;
}

body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: var(--bg-dark);
  color: var(--text-main);
}
